<header>
<div id="info">
    <div id="about">
      <h1>
        About Email Spoof Hunter
      </h1>
      <p>
        Our website is going to help users to check if an email id is legitimate or not.
        If a user feels suspicious about the email he received, he/she can use our website to
        check if it's legitimate or not.
        In our website database we store all the legitimate mail ids of various companies,
        organizations, banks etc…
        Our website helps to reduce look alike domain spoofing attacks.
      </p>
    </div>
    <div id="es">
      <h1>
        What is Email Spoofing?
      </h1>
      <p>Email spoofing is one of the most common forms of cybercriminal activity, specifically a form of identity
        deception that's
        widely used in phishing and spam attacks. It underpins the mechanism required to conduct hacking activities,
        and it can
        take many forms. Unfortunately, most email users will eventually receive an email that has been
        spoofed—whether they know
        it or not.
        <br>
        Just as forgery was a key method used by traditional criminals as the gateway to more complex crimes, email
        spoofing is
        the forgery of an email sender address so that the message appears to have come from someone other than the
        actual source.
        Spammers will often spoof emails in order to encourage recipients to open, reply to, or even take action in
        response to
        their solicitations. And while brand spoofing is common, we are increasingly seeing criminal activities where
        individuals
        are spoofed to target employees and partners.
      </p>
    </div>
    <div id="types">
      <h1>
        Types of Email Spoofing
      </h1>
      <p>
        Some of the most prevalent forms of email spoofing are:<br>
      <ol>
        <li>
          Business email compromise, such as executive spoofing or display name deception
        </li>
        <li>
          Legitimate domain or lookalike domain spoofing
        </li>
        <li>
          Spear phishing, including social engineering, like this real example of a mortgage company targeting the
          recipient to download documents on a fake site:
        </li>
      </ol>
      </p>
      <p>For more information <a href="https://www.agari.com/blog/what-is-email-spoofing">Click Here</a> </p>
    </div>
    <div id="prevent"></div>
  </div>
</header>