<!DOCTYPE html>
<html lang="en">
<!--***************************************************************-->
<%- include('includes/head') %>
<!--***************************************************************-->
<body id="body" >
  <%- include('includes/nav')%>
  <!--*****************************SEARCH**********************************-->
  
  <div id="search">
    <form class="d-flex" role="search">
      <input id="form-control" class="form-control me-2" type="search" placeholder="Search Email Here..." aria-label="Search">
      <button id="chbutton" class="btn btn-outline-success" type="button">Check</button>
    </form>

    <p id="message">
      
    </p><br>
    <p id="mess">
      
    </p>

  </div>

<!--***************************************************************-->
  <%- include('includes/info') %>
<!--***************************************************************-->
</body>
</html>