body{
    background-image: linear-gradient(to right,#3EADCF, #ABE9CD);
}

header{
    margin-top: 3rem;
    background: linear-gradient(to top, #8693AB, #BDD4E7);
}
#navi{
    position: fixed;
    width: 100%;
}
#nav1{
    position: fixed;
    width: 100%;
    top: 0;
}

/*information*/
#info{
    padding-top: 6rem ;
    margin: auto;
    width: 80rem;
    margin-top: 3rem;
}

.wrong{
    background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
}

.correct{
    background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
}

